<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vendors</key>
	<dict>
		<key>10ac</key>
		<dict>
			<key>products</key>
			<dict>
				<key>41b9</key>
				<dict>
					<key>display-icon</key>
					<string>/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-10ac/DisplayProductID-41bx.icns</string>
					<key>display-resolution-preview-icon</key>
					<string>/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-10ac/DisplayProductID-41bx.tiff</string>
					<key>resolution-preview-height</key>
					<integer>114</integer>
					<key>resolution-preview-width</key>
					<integer>203</integer>
					<key>resolution-preview-x</key>
					<integer>11</integer>
					<key>resolution-preview-y</key>
					<integer>70</integer>
				</dict>
				<key>41ba</key>
				<dict>
					<key>display-icon</key>
					<string>/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-10ac/DisplayProductID-41bx.icns</string>
					<key>display-resolution-preview-icon</key>
					<string>/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-10ac/DisplayProductID-41bx.tiff</string>
					<key>resolution-preview-height</key>
					<integer>114</integer>
					<key>resolution-preview-width</key>
					<integer>203</integer>
					<key>resolution-preview-x</key>
					<integer>11</integer>
					<key>resolution-preview-y</key>
					<integer>70</integer>
				</dict>
				<key>41bc</key>
				<dict>
					<key>display-icon</key>
					<string>/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-10ac/DisplayProductID-41bx.icns</string>
					<key>display-resolution-preview-icon</key>
					<string>/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-10ac/DisplayProductID-41bx.tiff</string>
					<key>resolution-preview-height</key>
					<integer>114</integer>
					<key>resolution-preview-width</key>
					<integer>203</integer>
					<key>resolution-preview-x</key>
					<integer>11</integer>
					<key>resolution-preview-y</key>
					<integer>70</integer>
				</dict>
				<key>41bd</key>
				<dict>
					<key>display-icon</key>
					<string>/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-10ac/DisplayProductID-41bx.icns</string>
					<key>display-resolution-preview-icon</key>
					<string>/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-10ac/DisplayProductID-41bx.tiff</string>
					<key>resolution-preview-height</key>
					<integer>114</integer>
					<key>resolution-preview-width</key>
					<integer>203</integer>
					<key>resolution-preview-x</key>
					<integer>11</integer>
					<key>resolution-preview-y</key>
					<integer>70</integer>
				</dict>
			</dict>
		</dict>
		<key>display-icon</key>
		<string>public.display</string>
	</dict>
</dict>
</plist>
